apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: descheduler
  namespace: kube-system
spec:
  repo: https://kubernetes-sigs.github.io/descheduler/
  chart: descheduler
  targetNamespace: kube-system

  # Tolerations handled by Kyverno (on namespace kube-system)

  valuesContent: |-
    # Chart supports CronJob or Deployment; CronJob is easiest to reason about.
    kind: CronJob
    schedule: "${schedule}"

    deschedulerPolicy:
      profiles:
        - name: default
          pluginConfig:
            - name: "DefaultEvictor"
              args:
                evictLocalStoragePods: ${policies.evict_local_storage_pods} 
                ignorePvcPods: ${policies.ignore_pvc_pods} 
                evictSystemCriticalPods: ${policies.evict_system_critical_pods} 
            - name: "LowNodeUtilization"
              args:
                thresholds:
                  cpu: ${thresholds.under_utilization_cpu} 
                  memory: ${thresholds.under_utilization_mem} 
                targetThresholds:
                  cpu: ${thresholds.target_utilization_cpu} 
                  memory: ${thresholds.target_utilization_mem} 
          plugins:
            balance:
              enabled:
                - "LowNodeUtilization"

---
# Defines a role to allow persistent volume clams to be retrieved, listed, and watched
# Without it: Descheduler won't be able to work (Can't look at any PVC prior to descheduling)
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: descheduler-role-allow-pvc-access
rules:
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get", "list", "watch"]

---
# Binds the cluster role (allow pvc access) onto the descheduler 
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: descheduler-role-allow-pvc-access
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: descheduler-role-allow-pvc-access
subjects:
  - kind: ServiceAccount
    name: descheduler
    namespace: kube-system