K3S_INSTALL_URL="https://get.k3s.io"
K3S_MANIFEST_DIR="/var/lib/rancher/k3s/server/manifests"

BOOTSTRAP_DIR="${bootstrap_dir}"
NICKNAME="${nickname}"
AWS_REGION="${aws_region}"
CONTROLLER_HOST="${controller_host}"
SWAPFILE_ALLOC_AMT="${swapfile_alloc_amt}"

PARAMSTORE_KEYROOT="${pstore_key_root}"

S3_BUCKET_NAME="${s3_bucket_name}"
S3KEY_SIMPLEK3S_ENV="${s3key_simplek3s_env}"
S3KEY_TRAEFIK_CFG_TMPL="${s3key_traefik_cfg_tmpl}"
