K3S_INSTALL_URL="https://get.k3s.io"
K3S_MANIFEST_DIR="/var/lib/rancher/k3s/server/manifests"

BOOTSTRAP_DIR="${bootstrap_dir}"
NICKNAME="${nickname}"
AWS_REGION="${aws_region}"
CONTROLLER_HOST="${controller_host}"
SWAPFILE_ALLOC_AMT="${swapfile_alloc_amt}"

PARAMSTORE_KEYROOT="${pstore_key_root}"

S3_BUCKET_NAME="${s3_bucket_name}"
