# DEFAULT ADD-ON: Kyverno
# Helps centralize Kubernetes rules + defaults in one place
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: kyverno
  namespace: kube-system
spec:
  repo: https://kyverno.github.io/kyverno/
  chart: kyverno
  version: "${chart_version}"   # e.g. "3.7.1"
  targetNamespace: kyverno
  createNamespace: true

  # This affects the helm-install-* Job pod
  tolerations:
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"
  valuesContent: |-
    # HA profile: run Kyverno controllers with >1 replica and allow safe evictions (PDB)
    admissionController:
      replicas: ${replica_count}
      podDisruptionBudget:
        enabled: true
        minAvailable: 1
      container:
        resources:
          requests:
            cpu: ${req_cpu}
            memory: ${req_mem}
          limits:
            cpu: ${lmt_cpu}
            memory: ${lmt_mem}

    backgroundController:
      replicas: ${replica_count}
      podDisruptionBudget:
        enabled: true
        minAvailable: 1
      resources:
        requests:
          cpu: ${req_cpu}
          memory: ${req_mem}
        limits:
          cpu: ${lmt_cpu}
          memory: ${lmt_mem}

    cleanupController:
      replicas: ${replica_count}
      podDisruptionBudget:
        enabled: true
        minAvailable: 1
      resources:
        requests:
          cpu: ${req_cpu}
          memory: ${req_mem}
        limits:
          cpu: ${lmt_cpu}
          memory: ${lmt_mem}

    reportsController:
      replicas: ${replica_count}
      podDisruptionBudget:
        enabled: true
        minAvailable: 1
      resources:
        requests:
          cpu: ${req_cpu}
          memory: ${req_mem}
        limits:
          cpu: ${lmt_cpu}
          memory: ${lmt_mem}

%{ if schedule_on_control_plane }
    # Allow Kyverno to run on tainted control-plane nodes, and *prefer* them
    tolerations:
      - key: "node-role.kubernetes.io/control-plane"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"

    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          preference:
            matchExpressions:
              - key: node-role.kubernetes.io/control-plane
                operator: Exists
%{ endif }
