# Force nodePort to be set to a static values (easier to expose ports to the outside world)  
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    ports:
      web:
        nodePort: ${nodeport_http}
      websecure:
        nodePort: ${nodeport_https}
