apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: traefik
  namespace: kube-system
spec:
  repo: https://traefik.github.io/charts
  chart: traefik
  version: ${version}
  targetNamespace: kube-system
  valuesContent: |-
    # Force nodePort to be set to a static values (easier to expose ports to the outside world)
    ports:
      web:
        nodePort: ${network.traefik.nodeport_http} # 30080
      websecure:
        nodePort: ${network.traefik.nodeport_https} # 30443

    # HA: run multiple Traefik replicas
    deployment:
      replicas: ${resources.traefik.replicas.target} # 2
      podDisruptionBudget:
        enabled: true
        minAvailable: ${resources.traefik.replicas.minimum} # 1

    # Resource sizing (baseline)
    resources:
      requests:
        cpu: ${resources.traefik.req.cpu} # 50m
        memory: ${resources.traefik.req.mem} # 128Mi
      limits:
        cpu: ${resources.traefik.lmt.cpu} # 200m
        memory: ${resources.traefik.lmt.mem} # 256Mi
